---
import { themeConfig } from '@/config'
import { ui } from '@/i18n/ui'
import { getPageInfo } from '@/utils/page'

const { currentLang, getLocalizedPath, isPost } = getPageInfo(Astro.url.pathname)
const { title, subtitle, i18nTitle } = themeConfig.site

const currentUI = ui[currentLang as keyof typeof ui] ?? {}
const headerTitle = i18nTitle ? currentUI.title : title
const headerSubtitle = i18nTitle ? currentUI.subtitle : subtitle

const TitleTag = isPost ? 'h2' : 'h1'
const SubtitleTag = isPost ? 'div' : 'h2'
---

<header class="site-header">
  <div class="header-content">
    <div class="header-brand">
      <TitleTag class="site-title">
        <div
          class="box-content inline-block pr-1"
          transition:name={`site-title-${currentLang}`}
          data-disable-theme-toggle-transition
        >
          <a
            id="site-title-link"
            href={getLocalizedPath('/')}
          >
            {headerTitle}
          </a>
        </div>
      </TitleTag>

      {headerSubtitle && (
        <SubtitleTag
          class="site-subtitle"
          aria-hidden={isPost}
        >
          {headerSubtitle}
        </SubtitleTag>
      )}
    </div>
  </div>
</header>

<style>
.site-header {
  --at-apply: 'mb-6 cjk:tracking-wide';
}

.header-content {
  --at-apply: 'flex items-start justify-between';
}

.header-brand {
  --at-apply: 'flex flex-col';
}

.site-title {
  --at-apply: 'font-bold font-title mb-1 text-7 c-primary lg:text-8';
}

.site-subtitle {
  --at-apply: 'text-3.5 c-secondary font-navbar lg:text-4';
}
</style>
